.help-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #00ffff;
    background-color: #0d1a26;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.help-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.manual-section,
.tips-section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.manual-content,
.tips-content {
    line-height: 1.6;
}

.manual-list {
    margin-left: 20px;
}

.manual-list li {
    margin-bottom: 5px;
}

.tips-content{
    color: #00ffff;
}

.return-home {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #1c204a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.return-home:hover {
    background-color:#2D2D3F;
}

